[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pycryptodomex = "*"
tornado = "*"
sslpsk3 = "*"
inquirer = "*"
requests = "*"
pycryptodome = "*"
paho-mqtt = "*"
click = "*"
ltchiptool = "*"

[requires]
python_version = ">=3.8"
