click==8.1.3
inquirer==3.1.4
ltchiptool==4.9.1
mock==5.1.0
paho_mqtt==1.6.1
pyaes==1.6.1
pycryptodome==3.17
pycryptodomex==3.16.0
Requests==2.31.0
setuptools==52.0.0
sslpsk3==1.1.1
tornado==6.1
zeroconf==0.42.0
